
@{
    ViewData["Title"] = "CRoomReports";
}

<h1>Commsroom Reports</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CRoomReports" asp-action="Index">Commsroom Reports</a>
    </li>
</ul>
