
@{
    ViewData["Title"] = "Sites";
}

<h1>Sites</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sites" asp-action="Index">Sites</a>
    </li>
</ul>
